// font-family: 'Montserrat', sans-serif;
// font-family: 'Mrs Saint Delafield', cursive;
// font-family: 'Nunito', sans-serif;
// font-family: 'Poppins', sans-serif;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #ca8e46;
}


* {
  scrollbar-color: #ca8e46 black;
}

/* Styling for Microsoft Edge */
*::-ms-scrollbar {
  width: 15px;
}

*::-ms-scrollbar-thumb {
  background-color: #ca8e46;
}
